@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
:root {
  --foreground-rgb: 113, 128, 150;
  --background-start-rgb: 255, 253, 230;
  --background-end-rgb: 240, 216, 230;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 200, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} 
 */

.gradient-blue-sky {
  background-image: var(--gradient-stops-blue-sky);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.project-description-container {
  max-width: 600px;
  margin-bottom: 60px;
}

.enhancement-list li {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  margin-left: 20px;
}

